.DS_STORE
.remote-sync.json
.venv
.idea
.localstorage
.module-cache
.vscode
public/
*/settings/local.py
*.pyc
*.db
*.orig
*.rdb
*.log
*.pid
*.csv
__pycache__
celerybeat-schedule
!frontend/.gitignore
frontend/package-lock.json
.env
./etc/postgre/dbdata


frontend/.DS_Store
frontend/node_modules
frontend/dist

# env.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?